<div class="grid">
  <div class="row">
  <br /><br /><br />
    <div class="span8">
    
      <nav class="vertical-menu">

        <ul>
        <div class="">
          <h1 class="fg-white"> please login with your account details to continue</h1>
		      <blockquote>
    			<p class='fg-white'></p>
    		</blockquote>
          
        </div>  
     

        </ul>
      </nav>    
    
    
    
 
    </div>
    <div class="span4">
<br /><br />
      <form>
        <div class="input-control text">
          <input type="text" value="" autofocus="true" placeholder="email" id='email'/>
          <button class="btn-clear" tabindex="-1"></button>
        </div>
        <div class="input-control password" data-role="input-control">
          <input placeholder="type password"  type="password" id="password">
          <button type="button" class="btn-reveal" tabindex="-1"></button>
        </div>
        <input type="submit"  id='vlogin' class="medium bg-darkGreen fg-white" value="Login"  />
      </form>
    </div>
  </div>
</div>
