
<div id="worksheetlist-ui" class="grid">
  <div class="row">
    <div class="span12">
      <h1 class="fg-dark" style="margin-top:20px;padding:20px" >Add new product</h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="listcontainer">
        <form id="np" style="padding:20px" >
          <label>Name</label>
          <div class="input-control text" data-role="input-control">
            <input  type="text" id="name">
            <button type="button" tabindex="-1" class="btn-clear"></button>
          </div>
          <label>Description</label>
          <div class="input-control textarea">
            <textarea id="desc"></textarea>
          </div>

          <div class="form-actions"> <br />
            <input type="submit" value="OK" class="button primary" id="cnp"/>
            &nbsp;
            <button class="button" type="button" id="cancelbtn">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
